* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav .flex-container {
  background-color: #090605;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

nav ul li {
  margin: 0rem 1.5rem;
}

nav img {
  height: 3rem;
}

nav i {
  margin-left: 0.5rem;
}

.section1__sub {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/background3.jpg") bottom;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/background3.jpg") bottom;
  background-size: cover;
  color: #ECE8E5;
}

.section1__sub .content {
  margin-top: 10rem;
  margin-left: 45rem;
}

.section1__sub .content h1 {
  margin-bottom: 1rem;
}

.section1__sub .content h4 {
  margin: 2rem 0rem;
  font-weight: 900;
  font-size: 1rem;
}

.section1__sub .content button {
  background-color: #f8be76;
  border: none;
  border-radius: 1rem;
  padding: 1rem 5rem;
}

.section1__sub .content button a {
  color: #090605;
  font-weight: bolder;
}

.section-2 {
  background-color: #966D49;
  height: 8rem;
}

.section-2 .icon-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-2 .icon-container .flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  color: #ECE8E5;
}

.section-2 .icon-container .flex-container i {
  color: #ECE8E5;
}

.section-2 .icon-container .flex-container .icons {
  color: #966D49;
}

.section-2 .icon-container .flex-container h4 {
  margin-top: 1rem;
}

.section-3 {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.section-3_sub {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #090605;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ECE8E5;
}

.section-3_sub h2 {
  font-size: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.section-3_sub h5 {
  font-size: 0.85rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 6rem;
}

.section-3_sub h5 a,
.section-3_sub h5 i {
  text-decoration: underline;
  color: #f8be76;
}

.section-3_sub .blog-items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.section-3_sub .blog-items .wrapper {
  position: relative;
}

.section-3_sub .blog-items img {
  width: 15rem;
  height: 10rem;
  border-radius: 0.5rem;
  margin: 0rem 1rem;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.section-3_sub .blog-items .content {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.section-3_sub .blog-items .content a {
  display: block;
  font-size: 0.9rem;
  padding: 1rem 0.5rem;
  border-left: 0.15rem solid #f8be76;
  cursor: pointer;
  color: #f8be76;
}

.section-3_sub .blog-items .overlay {
  opacity: 0;
}

.section-3_sub .blog-items .wrapper:hover img {
  opacity: 0.5;
}

.section-3_sub .blog-items .wrapper:hover .overlay {
  opacity: 1;
}

.section-4-sub {
  height: 24rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 155, 108, 0.6)), to(rgba(200, 155, 108, 0.6))), url("../img/background4.jpg");
  background: linear-gradient(rgba(200, 155, 108, 0.6), rgba(200, 155, 108, 0.6)), url("../img/background4.jpg");
  background-size: cover;
  background-position-y: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-4-sub h2 {
  font-size: 2.5rem;
  color: #ECE8E5;
}

.section-4-sub i {
  font-size: 2rem;
  color: #ECE8E5;
}

.section-4-sub i:hover {
  color: #c89b6c;
}

.section-5 {
  background-color: #090605;
  color: #ECE8E5;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.section-5-sub {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-5-sub .heading-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.section-5-sub .heading-container h3 {
  font-weight: 100;
  font-size: 1.5rem;
}

.section-5-sub .choices-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7rem;
  margin-top: 2rem;
}

.section-5-sub .choices-container div:first-child {
  border-top: 1px solid #ECE8E5;
}

.section-5-sub .choices-container .choices {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ECE8E5;
  padding: 1rem 0rem;
}

.section-5-sub .choices-container .choices h4 {
  margin-right: 15rem;
  font-weight: 200;
}

.section-5-sub .choices-container .choices i {
  font-weight: lighter;
  font-size: 0.9rem;
}

.section-6 {
  background-image: url("../img/background6.jpg");
  background-size: cover;
  color: #ECE8E5;
  background-color: #966D49;
  background-position-x: 0% 70%;
}

.section-6-sub {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 20rem;
  padding: 5rem 0rem;
}

.section-6-sub .form-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-6-sub .form-container input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin: 1rem 0rem;
}

.section-6-sub button {
  background-color: #f8be76;
  border: none;
  border-radius: 1rem;
  padding: 1rem 5rem;
}

.section-6-sub button a {
  color: #090605;
  font-weight: bolder;
}

.section-7 {
  background-color: #090605;
  color: #ECE8E5;
}

.section-7-sub {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-7-sub h2 {
  padding: 3rem 0rem;
}

.section-7-sub .flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7rem;
}

.section-7-sub .flex-container i {
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: lighter;
  border: 1px solid #ECE8E5;
  padding: 0.5rem;
}

.section-7-sub .flex-container i:hover {
  color: #e6b30d;
  border: 1px solid #e6b30d;
}

.section-7-sub .flex-container .text-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(71, 70, 71, 0.5);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30rem;
  border-radius: 1rem;
  padding: 2rem;
}

.section-7-sub .flex-container .text-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.section-7-sub .flex-container .text-container p:not(:last-child) {
  padding-bottom: 2rem;
}

.section-8 {
  background-color: #242324;
  color: #ECE8E5;
}

.section-8-sub {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5rem 0rem;
}

.section-8-sub h5 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #f8be76;
}

.section-8-sub h6 {
  font-size: 0.9rem;
  padding: 0.5rem 0rem;
}

.section-8-sub h6:hover,
.section-8-sub i:hover {
  color: #f8be76;
}

.section-8-sub .about-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-8-sub .icons-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-8-sub .icons-container h3 {
  padding-top: 0.8rem;
}

.section-8-sub .icons-container h6 {
  padding-top: 1rem;
}

.section-8-sub .icons-container i {
  font-size: 1.5rem;
  padding: 0.9rem 0.5rem;
}

.section-8-sub .icons-container img {
  width: 5rem;
}

.section-8-sub .help-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #090605;
  color: #ECE8E5;
  text-align: center;
}

.footer h2 {
  font-size: smaller;
  padding: 2rem 0rem;
}

a {
  color: #ECE8E5;
  text-decoration: none;
}

li {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 4rem;
}
/*# sourceMappingURL=main.css.map */