$background: #090605;
$accent1: #E2B885;
$accent2: #57250F;
$accent3: #C89B6C;
$accent4: #966D49;
$greydark: #6A5241;
$textcolor: #ECE8E5;
$grey: #837C83;


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 