$background: #090605;
$accent1: rgb(248, 190, 118);
$accent2: #57250F;
$accent3: rgb(200, 155, 108);
$accent4: #966D49;
$greydark: #6A5241;
$textcolor: #ECE8E5;
$grey: #837C83;


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 