$background: #090605;
$accent1: rgb(248, 190, 118);
$accent2: #57250f;
$accent3: rgb(200, 155, 108);
$accent4: #966d49;
$greydark: #6a5241;
$textcolor: #ece8e5;
$grey: #837c83;

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
  
}
