.section-6 {
   color: $textcolor;
   &-sub {
      .first-container {
         background: linear-gradient(to right, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.4)), url("../img/background6.jpg");
         background-size: cover;
         background-position-x: 100%;
         background-position-y: center;

         width: 100%;
      }
      .second-container {
         background-color: $accent4;
         width: 100%;
         &-sub {
            margin: 5rem;
          

            .form-container {
               flex-direction: column;

               input{
                  border: none;
                  border-radius: 0.5rem;
                  
                  padding: 0.9rem 0.5rem;
                  margin-bottom: 1rem;
               }
            }
            button {
               background-color: $accent1;
               border: none;
               border-radius: 1rem;
               padding: 1rem 5rem;

               a {
                  color: $background;
                  font-weight: bolder;
               }
            }
         }
      }
   }
}
