.section-3 {
   height: max-content;
   &_sub {
      flex-direction: column;
      background-color: $background;
      align-items: center;
      color: $textcolor;

      h2 {
         font-size: 2rem;
         margin-top: 3.5rem;
         margin-bottom: 2rem;
      }

      h5 {
         font-size: 0.85rem;
         font-family: Arial, Helvetica, sans-serif;
         margin-bottom: 6rem;

         a,
         i {
            text-decoration: underline;
            color: $accent1;
         }
      }

      .blog-items {
         justify-content: center;
         margin-bottom: 2rem;

         .wrapper {
            position: relative;
         }
         img {
            width: 15rem;
            height: 10rem;
            border-radius: 0.5rem;
            margin: 0rem 1rem;
            opacity: 1;
            // display: block;
            transition: 0.5s ease;
         }
         .content {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
         }
         .content a {
            display: block;
            font-size: 0.9rem;
            padding: 1rem 0.5rem;
            border-left: 0.15rem solid $accent1;
            cursor: pointer;
            color: $accent1;
         }
         .overlay {
            opacity: 0;
         }
         .wrapper:hover img {
            opacity: 0.5;
         }
         .wrapper:hover .overlay {
            opacity: 1;
         }
      }
   }
}
