@import "config";
@import "nav";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "section5";
@import "section6";
@import "section7";
@import "section8";
@import "footer";

a {
   color: $textcolor;
   text-decoration: none;
}

li {
   text-decoration-style: none;
}

.flex-container {
   display: flex;
}

h1 {
   font-size: 4rem;
}
